/* line 17, ../sass/ui-elements.scss */
.icn, .styleguide .icons li:nth-child(1):before, .styleguide .icons li:nth-child(2):before, .styleguide .icons li:nth-child(3):before, .styleguide .icons li:nth-child(4):before, .styleguide .icons li:nth-child(5):before, .styleguide .icons li:nth-child(6):before, .styleguide .icons li:nth-child(7):before, .styleguide .icons li:nth-child(8):before, .styleguide .icons li:nth-child(9):before, .styleguide .icons li:nth-child(10):before, .styleguide .icons li:nth-child(11):before {
  background: url('/images/icons/normal-s568a198c74.png');
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 17, ../sass/ui-elements.scss */
  .icn, .styleguide .icons li:nth-child(1):before, .styleguide .icons li:nth-child(2):before, .styleguide .icons li:nth-child(3):before, .styleguide .icons li:nth-child(4):before, .styleguide .icons li:nth-child(5):before, .styleguide .icons li:nth-child(6):before, .styleguide .icons li:nth-child(7):before, .styleguide .icons li:nth-child(8):before, .styleguide .icons li:nth-child(9):before, .styleguide .icons li:nth-child(10):before, .styleguide .icons li:nth-child(11):before {
    background: url('/images/icons/retina-sbd0775314e.png');
    -moz-background-size: 24px 319px;
    -o-background-size: 24px 319px;
    -webkit-background-size: 24px 319px;
    background-size: 24px 319px;
  }
}

/* line 27, ../sass/ui-elements.scss */
.icn-camera, .styleguide .icons li:nth-child(1):before {
  background-position: 0 0;
  height: 20px;
  width: 22px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-checkmark, .styleguide .icons li:nth-child(2):before {
  background-position: 0 -30px;
  height: 18px;
  width: 19px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-dislike, .styleguide .icons li:nth-child(3):before {
  background-position: 0 -58px;
  height: 22px;
  width: 22px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-heart, .styleguide .icons li:nth-child(4):before {
  background-position: 0 -90px;
  height: 20px;
  width: 20px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-like, .styleguide .icons li:nth-child(5):before {
  background-position: 0 -120px;
  height: 22px;
  width: 22px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-mobile-phone, .styleguide .icons li:nth-child(6):before {
  background-position: 0 -152px;
  height: 22px;
  width: 20px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-mouse, .styleguide .icons li:nth-child(7):before {
  background-position: 0 -184px;
  height: 22px;
  width: 17px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-phone, .styleguide .icons li:nth-child(8):before {
  background-position: 0 -216px;
  height: 20px;
  width: 20px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-remove, .styleguide .icons li:nth-child(9):before {
  background-position: 0 -246px;
  height: 14px;
  width: 16px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-send-airplain, .styleguide .icons li:nth-child(10):before {
  background-position: 0 -270px;
  height: 19px;
  width: 24px;
}

/* line 27, ../sass/ui-elements.scss */
.icn-share, .styleguide .icons li:nth-child(11):before {
  background-position: 0 -299px;
  height: 20px;
  width: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 34, ../sass/ui-elements.scss */
  .icn-camera, .styleguide .icons li:nth-child(1):before {
    background-position: 0 0;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-checkmark, .styleguide .icons li:nth-child(2):before {
    background-position: 0 -30px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-dislike, .styleguide .icons li:nth-child(3):before {
    background-position: 0 -58px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-heart, .styleguide .icons li:nth-child(4):before {
    background-position: 0 -90px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-like, .styleguide .icons li:nth-child(5):before {
    background-position: 0 -120px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-mobile-phone, .styleguide .icons li:nth-child(6):before {
    background-position: 0 -152px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-mouse, .styleguide .icons li:nth-child(7):before {
    background-position: 0 -184px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-phone, .styleguide .icons li:nth-child(8):before {
    background-position: 0 -216px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-remove, .styleguide .icons li:nth-child(9):before {
    background-position: 0 -246px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-send-airplain, .styleguide .icons li:nth-child(10):before {
    background-position: 0 -270px;
  }

  /* line 34, ../sass/ui-elements.scss */
  .icn-share, .styleguide .icons li:nth-child(11):before {
    background-position: 0 -299px;
  }
}
/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(1):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(1):after {
  content: "icon-camera";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(2):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(2):after {
  content: "icon-checkmark";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(3):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(3):after {
  content: "icon-dislike";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(4):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(4):after {
  content: "icon-heart";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(5):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(5):after {
  content: "icon-like";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(6):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(6):after {
  content: "icon-mobile-phone";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(7):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(7):after {
  content: "icon-mouse";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(8):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(8):after {
  content: "icon-phone";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(9):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(9):after {
  content: "icon-remove";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(10):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(10):after {
  content: "icon-send-airplain";
  padding-left: 10px;
  display: inlin-block;
}

/* line 47, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(11):before {
  content: '';
  display: inline-block;
}
/* line 54, ../sass/ui-elements.scss */
.styleguide .icons li:nth-child(11):after {
  content: "icon-share";
  padding-left: 10px;
  display: inlin-block;
}
